@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-expresso-green
}

.loader {
    border-top-color: #8261C2;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}